extends layout

html
  head
    script(src='/jquery/jquery.js')
  body
    block content
        h1= title
        
        label(for='feeders') Who would you like to delete?: 
        select#feeders(name='feeders')
            for feeder in feeders
                option(value=feeder) #{feeder}
        br
        button.delete Delete
