extends layout

html
  head
  body
    block content

        script(type="text/javascript" src='/jquery/jquery.js')
        script(type="text/javascript" src='/javascripts/admin.js')
        h1= title
        
        label(for='feeders') Who would you like to delete?: 
        select#feeders(name='feeders')
            for feeder in feeders
                option(value=feeder) #{feeder}
        br
        button#delete Delete
