extends layout

html
  head
  body
    block content

        script(type="text/javascript" src='/jquery/jquery.js')
        script(type="text/javascript" src='/javascripts/admin.js')
        h1= title
        
        label(for='feedersDropdown') Who would you like to delete?: 
        select#feedersDropdown
            for feeder in feeders
                option(value=feeder) #{feeder}
        button#delete Delete
        br
        label(for='feedersDropdown') Who would you like to add?: 
        input#feederToAdd(type='text' name='')
        button#delete Add

        p#status Status: 
