extends layout

block content
    script(type="text/javascript" src='/jquery/jquery.js')
    script(type="text/javascript" src='/javascripts/index.js')
    h1= title

    label(for='feedersDropdown') Who are you?: 
    select#feedersDropdown
        for feeder in feeders
            option(value=feeder) #{feeder}
    br
    button#checkIn Check In
