a {
    color: #00B7FF;
}

button {
    height: 8vh;
    width: 40%;
    border: black;
    background-color: orange;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-align: center;
    border: 2px solid red;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
}

.row {
    display: flex;
}

.column {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 28vw;
}

#factcolumn {
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.right-column {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 14vw;
}

label {
    font-size: 3vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
}

input,
select {
    height: 8vh;
    box-sizing: border-box;
    font-size: 5vh;
    border: 2px solid red;
}

h1 {
    font: 40px Tahoma, Helvetica, Arial, Sans-Serif;
    text-align: left;
    color: #222;
    text-shadow: 0px 2px 3px #555;
}